process {
    withName:tileXenium {
        container = 'docker://maximilianheeg/tile-xenium:v0.1.0'
    }
    withName:Baysor {
        container = 'docker://maximilianheeg/baysor:v0.6.2'
    }
    withName:mergeTiles {
        container = 'docker://maximilianheeg/merge-baysor:v0.1.0'
    }

}
singularity {
    enabled = true
    cacheDir = "singularity"
    autoMounts = true
}